<ion-content>
  <ion-tabs>
  
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1" href="/tabs/home">
        <ion-icon aria-hidden="true" name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>
        <div class="hcs">
          <img src="/assets/icon/Vector_512w.png" alt="" class="mt-1" style="height: 24px; margin-right: 8px;">
          <span>Smart VDS Mobile</span>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header> -->
</ion-content>