ion-avatar {
    --border-radius: 4px;
}

.nav-title {
    display: flex !important;
    align-items: center !important;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.hcs {
    display: flex;
    flex-direction: row;
    align-items: center;
}
