<ion-content class="ion-padding" style="--offset-top: 0px; --offset-bottom: 0px;">
  <swiper-container [pagination]="true" (slidechange)="swiperChange($event)" [loop]="true" #swiper
    class="swiper-container">
    <swiper-slide class="slide-container">Headline 1</swiper-slide>
    <swiper-slide class="slide-container">Headline 2</swiper-slide>
    <swiper-slide class="slide-container">
      <span>
        Headline 3
      </span>
      <ion-button (click)="gotToOverview()">
        Go to Overview
      </ion-button>
    </swiper-slide>
  </swiper-container>

  <div class="bottom-container">
    <ion-grid>
      <ion-row class="nav-button-container">
        <ion-col>
          <ion-button fill="clear" (click)="prev()" class="nav-button skip-button ios button button-clear">
            Prev
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" (click)="next()" class="nav-button next-button ios button button-clear">
            Next
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>